/.idea/

# gateway
/gateway-service/.mvn/
/gateway-service/target/
# authorization
/user-service/.mvn/
/user-service/target/
# app-gateway
/app-gateway/target/
/app-gateway/.mvn/
# main-service
/main-service/target/
/main-service/.mvn/
# models
/api-common/.mvn/
/api-common/target/
# config-server
/config-server/target/
/config-server/.mvn/
# cv-service
/cv-service/.mvn/
/cv-service/target/
# frontend application
/fellowworkerfront/test/widget_test.dart
/fellowworkerfront/.dart_tool
/fellowworkerfront/.idea
/fellowworkerfront/fellowworkerfront.iml
/fellowworkerfront/build
/fellowworkerfront/.flutter-plugins
/fellowworkerfront/.flutter-plugins-dependencies
/.secrets/
/vault/data/
/vault/logs/
/minio/data